.login-page{
  width: 100%;
  display: flex;
  background: white;
  height: 100vh;
  .left-side{
    width: 70%;
    box-shadow: 3px -2px 20px 2px #3f51b5;
    .overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100vh;
      width: 70%;
      opacity: 0.3;
      // transition: .5s ease;
      background-color:  #3f51b5;
    }
  }
  .right-side{
    width: 30%;
    padding: 10px;
    margin: 10px;
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    .center-div{
      left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }
    .example-full-width {
      width: 100%;
    }
    .error-div {
      width: 100%;
      margin-top: .25rem;
      font-size: 80%;
      color: #dc3545;
    }
  }
}
