<div class="login-page">
  <div class="left-side">
    <img src="assets/imgs/invoice.jpg" width="100%" height="100%">
    <span class="overlay"></span>
  </div>
  <div class="right-side">
    <div class="col-sm-12 center-div">
      <div class="col-sm-12 text-center">
        <h4>Login</h4>
      </div>
      <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
          <div *ngIf="loginErr" class="error-div">Username or Password is wrong</div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
