.invoice-page{
  overflow: hidden !important;
  example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
  }
.invoice-tab{
  padding: 10px;
}
.webkit-center{
  text-align: -moz-center;
  text-align: -webkit-center;
  text-align: -o-center;
  text-align: -ms-center
}
.fab-icon-class{
  position: fixed;
  bottom:25px;
right: 0;
}
mat-card{
  box-shadow: -1px 0px 1px -1px rgba(0, 0, 0, 0.2), 3px 3px 1px 0 rgba(0, 0, 0, 0.14), -4px 4px 3px 0 rgba(0, 0, 0, 0.12);;
  max-height: 500px;
  overflow:auto;
}
.full-width-table {
  width: 100%;
  margin: 20px auto;
  height: 200px !important;
  overflow: auto;
}
.header-mat-card{
  box-shadow: none !important;
  border-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px;
  border: 1px solid rgb(224, 224, 224)
}
.footer-mat-card{
  box-shadow: none !important;
  border-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px;
  border: 1px solid rgb(224, 224, 224)
}
.total-width-class{
  min-width: 200px;
  background: #3f51b5;
  color: white;
  padding: 5px;
  border-radius: 20px;
}

}
