<div class="invoice-page">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><img src="../../assets/imgs/logo.png" height="40px" style="margin: 10px;"></span>
      <span>Cine Agent's Association</span>
      <span class="example-spacer"></span>
      <span style="flex:1">Junior Artist Billing</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" (click)="logoutFunction()" style="cursor: pointer !important">power_settings_new</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="main-content">
      <div *ngIf="apiCallLoader" id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
    
          <mat-spinner [diameter]="30"  style="position: absolute; color: White; top: 50%; left: 45%;"></mat-spinner>

          </div>
    <mat-tab-group  [selectedIndex]="selected" (selectedTabChange)="tabClick($event)">
      <mat-tab label="Bill" >
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 invoice-tab  webkit-center header-part">
          <div class="col-sm-12 col-md-10 col-lg-10 col-xs-12 webkit-center header-part">
            <mat-card class="header-mat-card">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 row">
                <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12 ">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Company Name" value="" [(ngModel)]="inoviceObj.companyName">
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="inoviceObj.date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Agent Name" value="" [(ngModel)]="inoviceObj.agentName">
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Language" [(ngModel)]="inoviceObj.language" >
                      <mat-option value="Tamil">Tamil</mat-option>
                      <mat-option value="Telugu">Telugu</mat-option>
                      <mat-option value="Hindi">Hindi</mat-option>
                      <mat-option value="Kannada">Kannada</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="col-sm-12 col-md-10 col-lg-10 col-xs-12">
            <mat-card style="height: 100vh !important;">
              <div class="col-md-12 col-lg-12 col-xs-12 row" *ngFor="let obj of inoviceObj.entries;let mainInd=index"
                style="border-bottom:1px solid #dbd4d4;margin:10px 0px">
                <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="mainInd_name" placeholder="Choose a date" [formControl]="obj.entryDate">
                    <mat-datepicker-toggle matSuffix [for]="mainInd_name"></mat-datepicker-toggle>
                    <mat-datepicker #mainInd_name></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Location" value="" [(ngModel)]="obj.location">
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xs-12">
                  <mat-form-field  style="width:100%">
                    <mat-select matNativeControl placeholder="Time Stamp" [(ngModel)]="obj.time">
                      <!-- <mat-option value="6am - 12pm">6am - 12pm</mat-option>
                      <mat-option value="12pm - 6pm">12pm - 6pm</mat-option>
                      <mat-option value="6pm -12am">6pm -12am</mat-option>
                      <mat-option value="other">Others</mat-option> -->
                      <mat-option value="9am to 6pm">9am to 6pm</mat-option>
                      <mat-option value="6pm to 2am">6pm to 2am</mat-option>
                      <mat-option value="10pm to 6am">10pm to 6am</mat-option>
                      <mat-option value="2pm to 10pm">2pm to 10pm</mat-option>
                      <mat-option value="2pm to 2am" >2pm to 2am</mat-option>
                      <mat-option value="9am to 10pm" >9am to 10pm</mat-option>
                      <mat-option value="9am to 2am">9am to 2am</mat-option>
                      <mat-option value="6am to 2pm">6am to 2pm</mat-option>
                      <mat-option value="other">Others</mat-option>
                          
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <div class="col-sm-12 col-md-1 col-lg-1 col-xs-12" style="padding:0px;margin: 0px 10px" *ngIf="obj.time == 'other'">
                      <input style="margin-top:18px;" [ngxTimepicker]="picker" class="no-border-bottom example-full-width" placeholder="From Time" [(ngModel)]="obj.startTime"  (change)="timeChange()">
                      <ngx-material-timepicker #picker></ngx-material-timepicker>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1 col-xs-12" style="padding:0px;margin: 0px 10px" *ngIf="obj.time == 'other'">
                      <input style="margin-top:18px;" [ngxTimepicker]="pickerone" class="no-border-bottom example-full-width" placeholder="To Time" [(ngModel)]="obj.endTime">
                      <ngx-material-timepicker #pickerone></ngx-material-timepicker>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1 col-xs-12  text-right margin-auto-right" *ngIf="obj.type == 'remove'" style="text-align: left !important">
                  <mat-icon (click)="removeEntries(mainInd)" class="cursor-pointer">remove_circle_outline</mat-icon>
                </div>
                <div class="col-md-12 col-lg-12 col-xs-12 row" *ngFor="let subObj of obj.subEntries;let subInd=index">
                  <div class="col-sm-12 col-md-2 col-lg-2 col-xs-12">

                  </div>
                  <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                    <mat-form-field class="example-full-width">
                      <mat-select class="example-full-width" matNativeControl  placeholder="Categoary"
                        [(ngModel)]="subObj.category" (selectionChange)="changeCategoary($event,subObj)">
                        <!-- <mat-option value="one">one</mat-option>
                        <mat-option value="two">two</mat-option>
                        <mat-option value="three">three</mat-option>
                        <mat-option value="four">four</mat-option> -->
                        <mat-option value="Gents" >Gents</mat-option>
                        <mat-option value="Ladies" >Ladies</mat-option>
                        <mat-option value="Gents characters" >Gents characters</mat-option>
                        <mat-option value="Ladies characters" >Ladies characters</mat-option>
                        <mat-option value="Gents & Ladies" >Gents & Ladies</mat-option>
                        <mat-option value="Gents Ladies characters" >Gents Ladies characters</mat-option>
                        <mat-option value="S.I" >S.I</mat-option>
                        <mat-option value="Police" >Police</mat-option>
                        <mat-option value="Dialogue" >Dialogue</mat-option>
                        <mat-option value="Out of city additional wages" >Out of city additional wages</mat-option>
                        <mat-option value="Gents Spl characters" >Gents Spl characters</mat-option>
                        <mat-option value="Ladies Spl characters" >Ladies Spl characters</mat-option>
                        <mat-option value="Up & Down Journey" >Up & Down Journey</mat-option>
                        <mat-option value="Gents Charactor Cont. Basis" >Gents Charactor Cont. Basis</mat-option>
                        <mat-option value="Ladies Charactor Cont. Basis" >Ladies Charactor Cont. Basis</mat-option>
                        <mat-option value="Boys Charactor Cont. Basis" >Boys Charactor Cont. Basis</mat-option>
                        <mat-option value="Girls Charactor Cont. Basis" >Girls Charactor Cont. Basis</mat-option>
                        <mat-option value="Gents Audience Cont. Basis" >Gents Charactor Cont. Basis</mat-option>
                        <mat-option value="Ladies Audience Cont. Basis" >Ladies Charactor Cont. Basis</mat-option>
                        <mat-option value="Boys Audience Cont. Basis" >Boys Charactor Cont. Basis</mat-option>
                        <mat-option value="Girls Audience Cont. Basis" >Girls Charactor Cont. Basis</mat-option>
                        <mat-option value="Boys / Girls" >Boys / Girls</mat-option>
                        <mat-option value="Boys" >Boys</mat-option>
                        <mat-option value="Girls" >Girls</mat-option>
                        <mat-option value="Dance Movement" >Dance Movement</mat-option>
                        <mat-option value="Group Struggling" >Group Struggling</mat-option>
                        <mat-option value="Rain Shot" >Rain Shot</mat-option>
                        <mat-option value="Bomb Shot" >Bomb Shot</mat-option>
                        <mat-option value="Others" >Others</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6 col-md-1 col-lg-1 col-xs-6">
                    <mat-form-field class="example-full-width">
                      <input appNumbersonly matInput placeholder="Qty" value="" [(ngModel)]="subObj.qty" (keyup)="onKey($event,subObj,subObj.callsheet)">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6 col-md-1 col-lg-1 col-xs-6">
                    <mat-form-field class="example-full-width">
                      <input appNumbersonly matInput placeholder="Cost" value="" [(ngModel)]="subObj.cost" (keyup)="onKey($event,subObj,subObj.callsheet)">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6 col-md-1 col-lg-1 col-xs-6">
                    <mat-form-field class="example-full-width">
                      <input appNumbersonly matInput placeholder="callsheet" value="" [(ngModel)]="subObj.callsheet">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6 col-md-2 col-lg-2 col-xs-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Total" value="" [ngModel]="getTotalRs(obj,subObj,subObj.callsheet)" disabled>
                    </mat-form-field>
                  </div>
                  <div style="display: inline-flex" class="col-sm-6 col-md-1 col-lg-1 col-xs-6 margin-auto text-center" *ngIf="obj.subEntries.length == subInd +1">
                    <!-- <mat-icon class="cursor-pointer" (click)="addSubEntries(mainInd)" >add_circle_outline</mat-icon> -->
                    <button mat-icon-button (click)="addSubEntries(mainInd)">
                      <mat-icon aria-label="Example icon-button with a heart icon" >add_circle_outline</mat-icon>
                    </button>
                    <button mat-icon-button  (click)="clearCurrentSubEntries(mainInd,subInd)">
                      <mat-icon aria-label="Example icon-button with a heart icon" >remove_circle_outline</mat-icon>
                    </button>
                  </div>
                  <div class="col-sm-6 col-md-1 col-lg-1 col-xs-6 margin-auto" *ngIf="obj.subEntries.length != subInd +1">
                    <!-- <mat-icon class="cursor-pointer" (click)="removeSubEntries(mainInd,subInd)">remove_circle_outline</mat-icon> -->
                    <button mat-icon-button  (click)="removeSubEntries(mainInd,subInd)">
                      <mat-icon aria-label="Example icon-button with a heart icon" >remove_circle_outline</mat-icon>
                    </button>
                  </div>
                  <div class="col-sm-12 col-md-2 col-lg-2 col-xs-12" *ngIf="subObj.category == 'Others'">

                  </div>
                  <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                    <mat-form-field class="example-full-width" *ngIf="subObj.category == 'Others'">
                      <input  matInput placeholder="Enter Other Category" value="" [(ngModel)]="subObj.otherCategory">
                    </mat-form-field>
                  </div>
                </div>

                <div class="fab-icon-class" style="display: flex;z-index: 9999999;flex-direction: column">
                  <button mat-mini-fab color="primary" style="margin: 5px 15px 5px  0px;" (click)="addEntries()" mat-raised-button
                  matTooltip="Add new Entries">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button *ngIf="!Editable" mat-mini-fab color="primary" style="margin: 5px 15px 5px  0px;" (click)="saveEntries()" mat-raised-button
                  matTooltip="Save Entries">
                  <mat-icon> insert_drive_file</mat-icon>
                </button>
                  <button *ngIf="Editable" mat-mini-fab color="primary" style="margin: 5px 15px 5px  0px;" (click)="saveEntries()" mat-raised-button
                  matTooltip="Update Entries">
                  <mat-icon> update</mat-icon>
                </button>
               
                  <button mat-mini-fab color="primary" style="margin: 5px 15px 5px  0px;" (click)="printFunction()" mat-raised-button
                  matTooltip="Print & Save">
                    <mat-icon>print</mat-icon>
                  </button>
                  <button mat-mini-fab color="primary" style="margin: 5px 15px 5px  0px;" (click)="clearDatas()" mat-raised-button
                  matTooltip="Clear All Entries">
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card>
            <mat-card class="footer-mat-card" style="padding: 5px 16px !important;">
                  <div class="total-width-class float-right">
                      Total:  Rs.{{getTotalFunction()}}
                  </div>
            </mat-card>
            <!-- <div class="col-md-12 col-lg-12 col-xs-12">
                  <mat-card class="footer-mat-card">
                  <mat-chip-list class="float-right">
                      <mat-chip color="primary" selected style="margin: 15px 0px">Total : {{getTotalFunction()}}</mat-chip>
                    </mat-chip-list>
                  </mat-card>
              </div> -->
            <div class="footer">

            </div>
          </div>

        </div>
      </mat-tab>

      <mat-tab label="History">
        <div class="col-sm-12" style="height:100vh;background:white">
          <div style="display: flex;align-items: center;margin:10px 0px;">
              <!-- <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="Fromfilter" placeholder="From" [formControl]="tableFilter.fromDate">
                    <mat-datepicker-toggle matSuffix [for]="Fromfilter"></mat-datepicker-toggle>
                    <mat-datepicker #Fromfilter></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="Tofilter" placeholder="To" [formControl]="tableFilter.toDate">
                      <mat-datepicker-toggle matSuffix [for]="Tofilter"></mat-datepicker-toggle>
                      <mat-datepicker #Tofilter></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                      <button mat-raised-button color="accent" (click)="dateFilterSearch()">Search</button>
                      <button mat-raised-button color="Warn" (click)="dateClearSearch()">Clear</button>
                    </div> -->
                  <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="SearchBy companyName" value="" [(ngModel)]="SearchByName" (keyup)="searchByNameFilter()">
                    </mat-form-field>
                    </div>
          </div>
          <div class="col-sm-12">
            <div class="mat-elevation-z8">
              <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
                <!-- Id Column -->
                <ng-container matColumnDef="companyName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
                  <td mat-cell *matCellDef="let row">{{row.companyName}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="agentName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Agent Name</th>
                  <td mat-cell *matCellDef="let row">{{row.agentName}}</td>
                </ng-container>
                <ng-container matColumnDef="billDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill Date</th>
                  <td mat-cell *matCellDef="let row">{{row.billDate | date: 'dd-MM-yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="language">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Language</th>
                  <td mat-cell *matCellDef="let row">{{row.language}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                  <td mat-cell *matCellDef="let row" >{{getamountwithfixed(row.amount)}}</td>
                </ng-container>
                <ng-container matColumnDef="Edit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
                  <td mat-cell *matCellDef="let row"><mat-icon style="cursor:pointer" (click)="editFunction(row.billId)">edit</mat-icon>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Delete">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
                  <td mat-cell *matCellDef="let row"><mat-icon style="cursor:pointer" (click)="deleteFunction(row.billId)">delete</mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator #paginator [length]="totalLength" [pageIndex]="0" [pageSize]="10"
              (page)="getServerData($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
