/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';


.text-center{
  text-align: center;
}
.example-full-width {
  width: 100%;
}
.margin-auto {
  margin: auto;
}
.margin-auto-right{
  margin: auto 0 !important;
  margin-top: 20px !important;
}
.cursor-pointer{
  cursor: pointer;
}
.text-left{
  text-align: left;
}
.float-right{
  float: right;
}
#toast-container > div {
  opacity:1;
}
.no-border-bottom{
  border: none !important;
  border-bottom: 1px solid #939393 !important;
}
.no-border-bottom:focus{
  border: none !important;
  border-bottom: 1px solid #939393 !important;
}
.display-hide{
  display: none !important;
}
.display-block{
  display: block !important;
}
